<div id="wall_post_<%=wall_post.id %>" class="wall-post">
  <div><%= link_to wall_post.user.name, user_path(wall_post.user.id)%>: <%= h(wall_post.post)%></div>
  <% if wall_post.wall_post_links.present? %>
    <div><%= render :partial => "wall_posts/wall_post_link", :collection => wall_post.wall_post_links %></div>
  <% end %>
  <% if wall_post.wall_post_photos.present? %>
    <div><%= render :partial => "wall_posts/wall_post_photo", :collection => wall_post.wall_post_photos %></div>
  <% end %>
  <% if wall_post.wall_post_videos.present? %>
    <div><%= render :partial => "wall_posts/video", :collection => wall_post.wall_post_videos %></div>
  <% end %>
  <div>
    <div class="margin-right-5 left font-11 gray"><%= time_ago_in_words wall_post.created_at %> ago</div>
    <div class="clear"></div>
  </div>
</div>