%div{:id => "wall_post_#{wall_post.id}"}
  .left
    = show_user_image(wall_post.user, "thumb", :width=>"50px", :height=>"50px")
  .left
    %p{:class=>"left"}
      - if @lounge == true && wall_post.parent_type == "User" && wall_post.user_id != wall_post.parent_id
        = show_user_name(wall_post.user) + " #{t('posted_on').downcase} " + link_to(wall_post.parent.display_name + "'s", users_wall_path(wall_post.parent)) + " #{t('wall').downcase}:"
      - else
        = show_user_name(wall_post.user)
      = wall_post.post.include?("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;") ? wall_post.post : h(wall_post.post)
      = render :partial => "wall_posts/wall_post_link", :collection => wall_post.wall_post_links unless wall_post.wall_post_links.blank?
    .clear
    = render :partial => "wall_posts/wall_photo", :collection => wall_post.wall_photos unless wall_post.wall_photos.blank?
    = render :partial => "wall_posts/video", :collection => wall_post.wall_post_videos unless wall_post.wall_post_videos.blank?
    .clear
    %div
      %p.margin-right-5{:class=>"left font_11 gray"}= time_ago_in_words wall_post.created_at
      .clear
    .margin-top-10
  - if current_user && (current_user.is_admin? || wall_post.user == current_user || (wall_post.parent_type == current_user.class.to_s && wall_post.parent_id == current_user.id)
    = link_to_remote(t("remove"), {:url => wall_post_path(wall_post.id), :complete => "$('wall_post_spinner_#{wall_post.id}').hide();", :loading => "$('wall_post_spinner_#{wall_post.id}').show();", :method => :delete, 500 => 'alert(\'Sorry, there was a server error\'); return false', :confirm => t("are_you_sure")}, :class => "right font_11" )
    .left.margin-left-10{ :id => "wall_post_spinner_#{wall_post.id}", :style => "display:none;" }= image_tag('loading.gif', :height => "23px;")
  .clear
  %hr
